/* 背景颜色 */
/* body{
    background-color: darkgray;
}

p{  
    width: 200px;
    padding: 10px;
    background-color: aquamarine;
} */

/*背景图片*/
body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;   /*是否重复*/
    background-position: 20px 20px; /* 图片的位置*/
    background-attachment: fixed;  /* 图片是否滑动 */
}

p{  
    width: 200px;
    padding: 10px;
    background-image: url("bg.jpg");
} 